In [4]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd 
df = pd.read_csv('sample_data.csv')
df_label = df.copy()
le = LabelEncoder()
df_label['Gender_Encoded'] = le.fit_transform(df_label['Gender'])
df_label['Passed_Encoded'] = le.fit_transform(df_label['Passed'])

print('\nLabel Encoded Data')
print(df_label[['Name','Gender','Gender_Encoded','Passed','Passed_Encoded']])

Label Encoded Data
      Name  Gender  Gender_Encoded Passed  Passed_Encoded
0     Aman    Male               1    Yes               1
1    Priya  Female               0    Yes               1
2    Rahul    Male               1     No               0
3   Anjali  Female               0    Yes               1
4     Ravi    Male               1    Yes               1
5    Meera  Female               0     No               0
6    Arjun    Male               1    Yes               1
7     Neha  Female               0    Yes               1
8    Imran    Male               1     No               0
9    Sneha  Female               0    Yes               1
10     Raj    Male               1    Yes               1
11   Divya  Female               0     No               0
12   Kabir    Male               1    Yes               1
13  Simran  Female               0    Yes               1
14   Karan    Male               1     No               0
15   Pooja  Female               0    Yes               1
16  Rakesh    Male               1    Yes               1
17    Isha  Female               0     No               0
18   Rohit    Male               1    Yes               1
19   Deepa  Female               0    Yes               1

In [ ]:
df_encoded = pd.get_dummies(df,columns=['City'],dtype=int)
print('\nOne-Hot Encoded Data (City)')
print(df_encoded)

# get_dummies converts your text columns into small binary columns

One-Hot Encoded Data (City)
      Name  Gender Passed  City_Bangalore  City_Chennai  City_Delhi  \
0     Aman    Male    Yes               0             0           1
1    Priya  Female    Yes               0             0           0
2    Rahul    Male     No               1             0           0
3   Anjali  Female    Yes               0             0           0
4     Ravi    Male    Yes               0             0           1
5    Meera  Female     No               0             1           0
6    Arjun    Male    Yes               1             0           0
7     Neha  Female    Yes               0             0           1
8    Imran    Male     No               0             1           0
9    Sneha  Female    Yes               0             0           0
10     Raj    Male    Yes               0             1           0
11   Divya  Female     No               0             0           1
12   Kabir    Male    Yes               0             0           0
13  Simran  Female    Yes               1             0           0
14   Karan    Male     No               0             0           1
15   Pooja  Female    Yes               0             0           0
16  Rakesh    Male    Yes               0             1           0
17    Isha  Female     No               0             0           1
18   Rohit    Male    Yes               0             0           1
19   Deepa  Female    Yes               1             0           0

    City_Mumbai
0             0
1             1
2             0
3             1
4             0
5             0
6             0
7             0
8             0
9             1
10            0
11            0
12            1
13            0
14            0
15            1
16            0
17            0
18            0
19            0