In [1]:
# Create a dataframe which contains only integers with 3 rows and 2 columns
# run following dataframe methods on them :
# df.describe
# df.mean
# df.corr
# df.count
# df.max 
# df.min
# df.median
# df.std

In [2]:
import pandas as pd

In [3]:
data = {
    "A": [10, 30, 50],
    "B": [20, 40, 60]
}

In [4]:
df = DataFrame(data)

NameError: name 'DataFrame' is not defined

In [5]:
df = pd.DataFrame(data)

In [6]:
df

    A   B
0  10  20
1  30  40
2  50  60

In [7]:
df.describe()

          A     B
count   3.0   3.0
mean   30.0  40.0
std    20.0  20.0
min    10.0  20.0
25%    20.0  30.0
50%    30.0  40.0
75%    40.0  50.0
max    50.0  60.0

In [8]:
df.mean()

A    30.0
B    40.0
dtype: float64

In [9]:
df.corr()

     A    B
A  1.0  1.0
B  1.0  1.0

In [10]:
df.count()

A    3
B    3
dtype: int64

In [11]:
df.max()

A    50
B    60
dtype: int64

In [12]:
df.min()

A    10
B    20
dtype: int64

In [13]:
df.median()

A    30.0
B    40.0
dtype: float64

In [14]:
df.std()

A    20.0
B    20.0
dtype: float64